@model TermDepositsLibrary.TDPortfolio

<div class="jumbotron">
    <h1>Term Deposit Portfolio</h1>
    <p class="lead">A place to review and modify your holdings</p>
    <div class="form-group">
        <label for="select">Portfolio Actions:</label>
        <select class="form-control" id="select" name="select">
            <option value="Hold">Hold</option>
            <option value="Buy">Buy</option>
            <option value="Sell">Sell</option>
        </select>        
    </div>
    <div id='seconds-counter'> </div>
    <script>
            // check if controller determined that automated buying has to continue
            // if so, trigger change event on the select, which will in turn trigger return to controller
            var isBuy = null;
            @if (ViewBag.isBuy != null) {
                @: isBuy = '@ViewBag.isBuy';
                }
            if (isBuy == 'true') {
                $('#select option[value="Buy"]').attr("selected", "selected");

                var seconds = 0;
                var el = document.getElementById('seconds-counter');

                function incrementSeconds() {
                    seconds += 1;
                    el.innerText = "Waiting: " + seconds + " seconds";
                }
                var cancel = setInterval(incrementSeconds, 1000);
                setTimeout(function () { $('#select').trigger("change"); }, 5000);
            }

            // check if controller determined that automated selling has to continue
            // if so, trigger change event on the select, which will in turn trigger return to controller
            var isSell = null;
            @if (ViewBag.isSell != null) {
                @: isSell = '@ViewBag.isSell';
                }
            if (isSell == 'true') {
                $('#select option[value="Sell"]').attr("selected", "selected");
                var seconds = 0;
                var el = document.getElementById('seconds-counter');

                function incrementSeconds() {
                    seconds += 1;
                    el.innerText = "Waiting: " + seconds + " seconds";
                }
                var cancel = setInterval(incrementSeconds, 1000);
                setTimeout(function () { $('#select').trigger("change"); }, 5000);
            }
    </script>
    <br>
    <h2 id="tmv"></h2>
</div>
<div class="row">
    <table id="table" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Principal</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th style="text-align:center" scope="col">Interest Rate</th>
                <th style="text-align:center" scope="col">Term</th>
                <th scope="col">Maturity Amount</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 1;}
            @foreach (var td in Model.holdngsList)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td class="principal">@td.principalString</td>
                    <td>@td.startDateString</td>
                    <td>@td.endDateString</td>
                    <td style="text-align:center">@td.interestRateString</td>
                    <td style="text-align:center">@td.term</td>
                    <td>@td.maturityAmountString</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
<script>
    // Format total maturity value and assign it to the element
    var tmv = formatMoney(Number(@Model.GetPortfolioMV()));
    document.getElementById("tmv").innerHTML = "Total maturity value: " + tmv;

    $("#select").change(function () {        
        // Based on selected action post back to controller to perform buy/sell action and update the view
        value = $('#select').val();
        if (value === "Buy") {
            $.ajax({
                type: "POST",
                url: "/Home/Buy/",
                data: {},
                contentType: 'json',
                success: function () {
                    location.reload(true)
                }
            });
        }
        if (value === "Sell") {
            $.ajax({
                type: "POST",
                url: "/Home/Sell/",
                data: {},
                contentType: 'json',
                success: function () {
                    location.reload(true)
                }
            });
        }
        if (value === "Hold") {
            $('#seconds-counter').hide();
            clearInterval(cancel);
        }
    });

    function formatMoney(number) {
        return number.toLocaleString('en-AU', { style: 'currency', currency: 'AUD' });
    }
</script>