@model TermDepositsLibrary.TDPortfolio

<div class="jumbotron">
    <h1>Term Deposit Portfolio</h1>
    <p class="lead">A place to review and modify your holdings</p>
    @*@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "actionForm", autocomplete = "off" }))
        {*@
    <div class="form-group">
        <label for="select">Portfolio Actions:</label>
        <select class="form-control" id="select" name="select">
            <option value="Hold">Hold</option>
            <option value="Buy">Buy</option>
            <option value="Sell">Sell</option>
        </select>
    </div>
    @*}*@

</div>
<div class="row">
    <table id="table" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Principal</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Interest Rate</th>
                <th scope="col">Term</th>
                <th scope="col">Maturity Amount</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 1;}
            @foreach (var td in Model.holdngsList)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td class="principal">@td.principalString</td>
                    <td>@td.startDateString</td>
                    <td>@td.endDateString</td>
                    <td>@td.interestRateString</td>
                    <td>@td.term</td>
                    <td>@td.maturityAmountString</td>
                </tr>
                i++;
            }

        </tbody>
    </table>
</div>
<div class="row">
    <h2 id="tmv"></h2>
    <script>
        var tmv = formatMoney(Number(@Model.GetPortfolioMV()));
        document.getElementById("tmv").innerHTML = "Total maturity value: " + tmv;

        $("#select").change(function () {
            value = $('#select').val();            
            if (value === "Buy") {                
                $.ajax({
                    type: "POST",
                    url: "/Home/Buy/",
                    data: { },
                    contentType: 'json',
                    success: function () {
                        location.reload(true)
                    }
                });
            }
            if (value === "Sell") {                
            $.ajax({
                type: "POST",
                url: "/Home/Sell/",
                data: { },
                contentType: 'json',
                success: function () {
                    location.reload(true)
                }
            });
            }
        });   

        function formatMoney(number) {
            return number.toLocaleString('en-AU', { style: 'currency', currency: 'AUD' });
        }
    </script>
</div>