@model TermDepositsLibrary.TDPortfolio

<div class="jumbotron">
    <h1>Term Deposit Portfolio</h1>
    <p class="lead">A place to review and modify your holdings</p>
    <p>
        <div class="form-group">
            <label for="sel1">Portfolio Actions:</label>
            <select class="form-control" id="sel1">
                <option>Hold</option>
                <option>Buy</option>
                <option>Sell</option>                
            </select>
        </div>
    </p>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Principal</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Interest Rate</th>
                <th scope="col">Term</th>
                <th scope="col">Maturity Amount</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 1;}
            @foreach (var td in Model.holdngsList)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@td.principal</td>
                    <td>@td.startDateString</td>
                    <td>@td.endDateString</td>
                    <td>@td.interestRateString</td>
                    <td>@td.term</td>
                    <td>@td.maturityAmount</td>
                </tr>
                i++;
            }

        </tbody>
    </table>
</div>
<div class="row">
    <h2 id="tmv"></h2>
    <script>
        var tmv = formatMoney(Number(@Model.GetPortfolioMV()));
        document.getElementById("tmv").innerHTML = "Total maturity value: " + tmv;

        function formatMoney(number) {
            return number.toLocaleString('en-AU', { style: 'currency', currency: 'AUD' });
        }
    </script>
</div>